* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gabarito", sans-serif;
   
}

.header {
  display: flex;
  justify-content: center;
  gap: 250px;
  padding: 30px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
 flex-grow: 1;
  flex-basis: 30%;
}

.header__navbars1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(0, 43, 7);
  cursor: pointer;
}

.header__navbars1 img {
  width: 43.5px;
}

.header__navbars2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: 50px;
}

.header__navbars3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

.header__navbars3 a {
  background-color: #143C24;
  color: white;
  border-radius: 20px;
  padding: 10px;
  font-size: 18px;
}

.header__navbars3 img {
  width: 20px;
}

.display {
  padding: 30px;
  text-align: center;
  cursor: pointer;
  animation-name: scaleup;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  flex-grow: 1;
  flex-basis: 80%;
}

@keyframes scaleup {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }

  100% {
    transform: scale(1.5);
    opacity: 1;
  }

}

.display h2 {
  font-size: 54px;
  color: #143C24;

}

.navbar__options {
  display: flex;
  justify-content: center;
  vertical-align: top;
  gap: 40px;
  font-size: 25px;
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 22%;
}

.navbar__options img {
  width: 25px;
}

.searchbar {
  background-color: white;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: solid black 1px;
  border-radius: 50px;
  margin: 0;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1%;
  position: sticky;
  top: 12.5%;
  z-index: 2;
}

.searchbar__s1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 70%;
}

.searchbar__s1 input {
  border: none;
  font-size: 16px;
  flex-grow: 1;
}

.searchbar__s1 input:focus {
  outline: none;
}

.searchbar button {
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: black;
  background-color: #00EB5B;
  border: solid black 1px;
  border-radius: 50px;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.box {
  background-color: #00EB5B;
  border-radius: 20px;
width: 1000px;
height: 300px;

  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  cursor: pointer;
  position: relative;
  flex-grow: 1;
  flex-basis: 80%;


}

.box__img {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  padding-left: 30px;
  width: 65%;
  position: relative;
 

}


.box__img img {
  position: absolute;
  width: 70%;
  border: solid black 1px;
  transform-origin: top center;
  opacity: 0;
  animation: swingFade 16s infinite;

}

.box__img img:nth-child(1) {
  animation-delay: 0s;
}

.box__img img:nth-child(2) {
  animation-delay: 4s;
}

.box__img img:nth-child(3) {
  animation-delay: 8s;
}

.box__img img:nth-child(4) {
  animation-delay: 12s;
}

@keyframes swingFade {
  0% {
    opacity: 0;
    transform: rotate(5deg);
  }

  5% {
    opacity: 1;
    transform: rotate(-5deg);
  }

  25% {
    opacity: 1;
    transform: rotate(5deg);
  }

  30% {
    opacity: 0;
    transform: rotate(-5deg);
  }

  100% {
    opacity: 0;
  }
}

.box__desc {
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  display: block;
  font-size: 40px;
}

.box__desc a {
  padding: 20px;
  width: 72px;
  height: 20px;
  color: white;
  background-color: #143C24;
  font-size: 16px;
  border: solid black 1px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  left: 120px;
}

.buycard {
  padding: 10px;
  gap: 10px;
  flex-grow: 1;
  flex-basis: 20%;
}

.buycard h1 {
  margin-bottom: 8px;
}

p {
  display: block;
}

.buycard__s1 {
  margin-top: 20px;
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.buycard__s1__slot {
  flex-grow: 1;
  flex-basis: 22%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.buycard__s1__slot img {
  width: 100%;
  border-radius: 20px;
}




.yourtrip {
  margin-top: 10px;
  padding: 10px;
  gap: 10px;
  flex-grow: 1;
  flex-basis: 21%;
}

h2 {
  padding-bottom: 20px;
  font-size: 26px;
  text-align: center;
}

.yourtrip__img {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-grow: 1;
  flex-basis: 21%;
}

.yourtrip_img_card {

  flex-grow: 1;
  flex-basis: 21%;
  position: relative;
}

.yourtrip_img_card img {
  height: 100%;
  width: 100%;
  border: solid black 1px;
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;
}

.yourtrip_img_card h2 {
  color: white;
  position: absolute;
  bottom: -15px;
  left: 10px;
}


.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #F7F7F7;
  gap: 20px;
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 43%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer a {
  color: black;
}

.footer__s1,
.footer__s2,
.footer__s3,
.footer__s4 {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 25px;
  margin-left: 150px;
  flex-grow: 1;
  flex-basis: 43%;
}

.info__s1 {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
}

.info__s2 {
  font-size: 26px;
  width: 25%;
}

.opt1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-grow: 1;
  flex-basis: 30%;
}

.opt1__h3 {
  background-color: white;
  border: solid black 1px;
  border-radius: 20px;
  padding: 10px;

}

.opt2 {
  padding: 20px;
  gap: 20px;
}

.fbut {
  background-color: #00EB5B;
  position: fixed;
  bottom: 79px;
  right: 50px;
  padding: 10px;
  border-radius: 20px;
  font-size: 26px;
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  flex-grow: 1;
  flex-basis: 10%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0);
  }
}

.fbut button {
  background-color: transparent;
  border: none;
  font-size: 20px;
}


@media screen and (max-width:1200px) {
  body {
    font-size: 10px;
  }
  .header {
    flex-basis: 7%;
    font-size: 16px;
    display: block;
    position: sticky;
    top: 0;
    height: 78px;
    
  }
  .header__navbars2{
    display: none;
  }
  .header__navbars3{
    display: none;
}
  .display {
    display: none;
  }
  .navbar__options {
    font-size: 14px;
  }
  .navbar__options img {
    display: none;
    margin: 2%;
  }
  .searchbar {
    width: 340px;
    justify-content: center;
    position: sticky;
    top: 11%;
  }
  .searchbar input{
    font-size: 14px;
  }

  .yourtrip_img_card {
    flex-basis:  40%;
  }
  .buycard__s1__slot{
    flex-basis: 40%;
  }
  .box {
    display: none;
  }
  .bottom{
    font-size: 12px;
    gap: 10px;
  }
  .info {
  display: block;
  }
  .info__s1{
    display: none;
  }

.opt1{
  display:none;
}
.opt2{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding: 5px;
}
.fbut {
  flex-basis: 4%;
}
}

@media screen and (max-width:600px) {
  .header {
    flex-basis: 7%;
    font-size: 16px;
    display: block;
    position: sticky;
    top: 0;
    height: 78px;
    
  }
  .header__navbars2{
    display: none;
  }
  .header__navbars3{
    display: none;
}
  .display {
    display: none;
  }
  .navbar__options {
    font-size: 14px;
  }
  .navbar__options img {
    display: none;
    margin: 2%;
  }
  .searchbar {
    width: 340px;
    justify-content: center;
    position: sticky;
    top: 11%;
  }
  .searchbar input{
    font-size: 14px;
  }

  .yourtrip_img_card {
    flex-basis:  40%;
  }
  .buycard__s1__slot{
    flex-basis: 40%;
  }
  .box {
    display: none;
  }
  .bottom{
    font-size: 12px;
    gap: 10px;
  }
  .info {
  display: block;
  }
  .info__s1{
    display: none;
  }

.opt1{
  display:none;
}
.opt2{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding: 5px;
}
.fbut {
  flex-basis: 4%;
}
}
